<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Audience Expression Biulder</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--medium">
    <h1 class="slds-text-heading--large">
      Audience Targeting Expression Builder
    </h1>
    <div class="slds-expression">
      <h2 class="slds-expression__title">Conditions</h2>
      <div class="slds-expression__options">
        <div class="slds-form-element">
          <label class="slds-form-element__label" for="combobox-id-154">Take Action When</label>
          <div class="slds-form-element__control">
            <div class="slds-combobox_container">
              <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                  <input type="text" class="slds-input slds-combobox__input slds-combobox__input-value" id="combobox-id-154" aria-controls="listbox-id-148" autoComplete="off" role="textbox" placeholder="Select an Option" readonly="" value="All Conditions Are Met"/>
                  <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                    <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                    </svg>
                  </span>
                </div>
                <div id="listbox-id-148" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">
                  <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                    <li role="presentation" class="slds-listbox__item">
                      <div aria-selected="true" id="listbox-option-id-644" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-is-selected slds-has-focus" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon">
                          <span class="slds-icon_container slds-icon-utility-check slds-current-color">
                            <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                            </svg>
                          </span>
                        </span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="All Conditions Are Met">
                            <span class="slds-assistive-text">Current Selection:</span> All Conditions Are Met</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-645" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Any Condition Is Met"> Any Condition Is Met</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-646" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Custom Logic Is Met"> Custom Logic Is Met</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-647" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Always (No Criteria)"> Always (No Criteria)</span>
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div id="listbox-option-id-648" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                        <span class="slds-media__figure slds-listbox__option-icon"></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Formula Evaluates To True"> Formula Evaluates To True</span>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul>
        <li class="slds-expression__row">
          <fieldset>
            <legend class="slds-expression__legend">
              <span class="slds-assistive-text">Condition 1</span>
            </legend>
            <div class="slds-grid slds-gutters_xx-small">
              <div class="slds-col">
                <div class="slds-form-element">
                  <label class="slds-form-element__label" for="combobox-id-155">Resource</label>
                  <div class="slds-form-element__control">
                    <div class="slds-combobox_container">
                      <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                          <input type="text" class="slds-input slds-combobox__input slds-combobox__input-value" id="combobox-id-155" aria-controls="listbox-id-149" autoComplete="off" role="textbox" placeholder="Select an Option" readonly="" value="Resource 1"
                          />
                          <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                            </svg>
                          </span>
                        </div>
                        <div id="listbox-id-149" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">
                          <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                            <li role="presentation" class="slds-listbox__item">
                              <div aria-selected="true" id="listbox-option-id-649" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-is-selected slds-has-focus" role="option">
                                <span class="slds-media__figure slds-listbox__option-icon">
                                  <span class="slds-icon_container slds-icon-utility-check slds-current-color">
                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                                    </svg>
                                  </span>
                                </span>
                                <span class="slds-media__body">
                                  <span class="slds-truncate" title="Resource 1">
                                    <span class="slds-assistive-text">Current Selection:</span> Resource 1</span>
                                </span>
                              </div>
                            </li>
                            <li role="presentation" class="slds-listbox__item">
                              <div id="listbox-option-id-650" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                                <span class="slds-media__figure slds-listbox__option-icon"></span>
                                <span class="slds-media__body">
                                  <span class="slds-truncate" title="Resource 2"> Resource 2</span>
                                </span>
                              </div>
                            </li>
                            <li role="presentation" class="slds-listbox__item">
                              <div id="listbox-option-id-651" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                                <span class="slds-media__figure slds-listbox__option-icon"></span>
                                <span class="slds-media__body">
                                  <span class="slds-truncate" title="Resource 3"> Resource 3</span>
                                </span>
                              </div>
                            </li>
                            <li role="presentation" class="slds-listbox__item">
                              <div id="listbox-option-id-652" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                                <span class="slds-media__figure slds-listbox__option-icon"></span>
                                <span class="slds-media__body">
                                  <span class="slds-truncate" title="Resource 4"> Resource 4</span>
                                </span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slds-col slds-grow-none">
                <div class="slds-form-element">
                  <label class="slds-form-element__label" for="combobox-id-156">Operator</label>
                  <div class="slds-form-element__control">
                    <div class="slds-combobox_container">
                      <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                          <input type="text" class="slds-input slds-combobox__input" id="combobox-id-156" aria-controls="listbox-id-150" autoComplete="off" role="textbox" placeholder="Select an Option" readonly="" />
                          <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                            <svg class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                            </svg>
                          </span>
                        </div>
                        <div id="listbox-id-150" class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" role="listbox">
                          <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                            <li role="presentation" class="slds-listbox__item">
                              <div id="listbox-option-id-653" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                                <span class="slds-media__figure slds-listbox__option-icon"></span>
                                <span class="slds-media__body">
                                  <span class="slds-truncate" title="Equals"> Equals</span>
                                </span>
                              </div>
                            </li>
                            <li role="presentation" class="slds-listbox__item">
                              <div id="listbox-option-id-654" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                                <span class="slds-media__figure slds-listbox__option-icon"></span>
                                <span class="slds-media__body">
                                  <span class="slds-truncate" title="Does Not Equal"> Does Not Equal</span>
                                </span>
                              </div>
                            </li>
                            <li role="presentation" class="slds-listbox__item">
                              <div id="listbox-option-id-655" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                                <span class="slds-media__figure slds-listbox__option-icon"></span>
                                <span class="slds-media__body">
                                  <span class="slds-truncate" title="Greater Than"> Greater Than</span>
                                </span>
                              </div>
                            </li>
                            <li role="presentation" class="slds-listbox__item">
                              <div id="listbox-option-id-656" class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                                <span class="slds-media__figure slds-listbox__option-icon"></span>
                                <span class="slds-media__body">
                                  <span class="slds-truncate" title="Less Than"> Less Than</span>
                                </span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slds-col" style="flex:1 35%">
                <div class="slds-form-element">
                  <label class="slds-form-element__label" for="text-input-id-56">Value</label>
                  <div class="slds-form-element__control">
                    <input type="text" id="text-input-id-56" class="slds-input" />
                  </div>
                </div>
                <!-- pills -->
                <div class="slds-pill_container slds-scrollable_y slds-m-top_xxx-small" style="max-height:95px;">
                  <ul class="slds-listbox slds-listbox_horizontal" role="listbox" aria-label="Selected Options:" aria-orientation="horizontal">
                    {% for pill in pills %}
                    <li class="slds-listbox-item" role="presentation">
                      <span class="slds-pill" role="option" tabindex="0" aria-selected="true">
                        <span class="slds-pill__label" title="Full pill label verbiage mirrored here">{{ pill.name }}</span>
                        <span class="slds-icon_container slds-pill__remove" title="Remove">
                          <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
                          </svg>
                          <span class="slds-assistive-text">Press delete or backspace to remove</span>
                        </span>
                      </span>
                    </li>
                  {% endfor %}
                  </ul>
                </div>
                <!-- //pills -->
              </div>
              <div class="slds-col slds-grow-none">
                <div class="slds-form-element">
                  <span class="slds-form-element__label slds-is-visually-empty"> </span>
                  <div class="slds-form-element__control">
                    <button class="slds-button slds-button_icon slds-button_icon-border-filled" title="Delete Condition 1">
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                      </svg>
                      <span class="slds-assistive-text">Delete Condition 1</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </li>
      </ul>
      <div class="slds-expression__buttons">
        <button class="slds-button slds-button_neutral">
          <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
          </svg>Add Condition
        </button>
      </div>
    </div>
  </div>
  <script src="/scripts/app.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
  <script>
    $(function(){

    });
  </script>
</body>
</html>
