<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Audience Mobile Phone Background</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />
  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  {% include "_page-structure.html" %}
  <div id="sitePreviewWorkarea" class="slds-container--center slds-container--small">
      <main class="cViewPanel">
        <h1 class="slds-text-heading--large slds-text-align_center">Mobile View Phone Background</h1>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut harum dolorem molestiae a eius corporis odit illum ratione modi tempora, corrupti impedit rem, sunt repellat doloremque, in ipsum iure quidem!</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut harum dolorem molestiae a eius corporis odit illum ratione modi tempora, corrupti impedit rem, sunt repellat doloremque, in ipsum iure quidem!</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut harum dolorem molestiae a eius corporis odit illum ratione modi tempora, corrupti impedit rem, sunt repellat doloremque, in ipsum iure quidem!</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut harum dolorem molestiae a eius corporis odit illum ratione modi tempora, corrupti impedit rem, sunt repellat doloremque, in ipsum iure quidem!</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut harum dolorem molestiae a eius corporis odit illum ratione modi tempora, corrupti impedit rem, sunt repellat doloremque, in ipsum iure quidem!</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut harum dolorem molestiae a eius corporis odit illum ratione modi tempora, corrupti impedit rem, sunt repellat doloremque, in ipsum iure quidem!</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut harum dolorem molestiae a eius corporis odit illum ratione modi tempora, corrupti impedit rem, sunt repellat doloremque, in ipsum iure quidem!</p>
       </main>
    </div>
  <script src="/scripts/app.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
  <script>
    $(function(){

    });
  </script>
</body>
</html>
